<%= form_for(@team) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :team_name %>
  </div>

  <div class="field">
    <%= form.label :mascot %>
    <%= form.text_field :mascot, id: :team_mascot %>
  </div>

  <div class="field">
    <%= form.label :colors %>
    <%= form.text_field :colors, id: :team_colors %>
  </div>

  <div class="field">
    <%= form.label "League(s)" %><br />
    <%= form.collection_check_boxes :league_ids, League.all, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.fields_for :sponsors do |i| %>
      <%= i.label :name, "Sponsor Name" %>
      <%= i.text_field :name %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
