<h1>New Team</h1>

<%= form_for @team do |form| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.label :name %>
    <%= form.text_field :name, id: :team_name %>

    <%= form.label :mascot %>
    <%= form.text_field :mascot, id: :team_mascot %>

    <%= form.label :colors %>
    <%= form.text_field :colors, id: :team_colors %>

    <%= form.label "League(s)" %><br />
    <%= form.collection_check_boxes :league_ids, League.all, :id, :name do |b| %>
      <div class="collection-check-box">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>

    <%= form.fields_for :sponsors do |i| %>
      <%= i.label :name, "Sponsor Name" %>
      <%= i.text_field :name %>
    <% end %><br>

    <%= form.submit "submit" %>

<% end %>
<br>
Added Teams:
<ul>
  <div id="teamResult">
    <li><h2 id="teamName"></h2></li>
    <li><p id="teamMascot"></p></li>
    <li><p id="teamColors"></p></li>
  </div>
</ul>


<script type="text/javascript" charset="utf-8">
  $(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      console.log(values);
      // alert("you clicked")
      var creating = $.post('/teams', values);
      creating.done(function(data) {
        var team = data;
        $('#teamName').text(team['name'])
        $('#teamMascot').text(team['mascot'])
        $('#teamColors').text(team['colors'])
      })
    })
  })
</script>

<%= link_to 'Back to Teams Index', teams_path %>
