<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Mascot:</strong>
  <%= @team.mascot %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @team.colors %>
</p>

<p>
  <strong>In League(s):</strong>
  <ul>
    <% @team.leagues.each do |league| %>
      <li><%= league.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back to Teams Index', teams_path %>
