<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Mascot:</strong>
  <%= @team.mascot %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @team.colors %>
</p>

<p>
  <strong>Player List:</strong>
  <ul>
    <% @team.players.each do |player| %>
      <li>Name: <%= player.name %> || Age: <%= player.age %> || Position: <%= player.position %></li>
    <% end %>
  </ul>
</p>


<p>
  <strong>Fixtures:</strong>
  <ul>
    <% @team.fixtures.each do |fixture| %>
      <li> vs. <%= fixture.opponent %>, <%= fixture_date fixture %> @ <%= fixture_time fixture %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>In League(s):</strong>
  <ul>
    <% @team.leagues.each do |league| %>
      <li><%= league.name %></li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Sponsored By:</strong>
    <%= @team.sponsors.each do |sponsor| %>
      <%= sponsor.name %>
    <% end %>
</p>

<% if @team.user_id == current_user.id %>
  <%= link_to 'New Fixture', new_fixture_path %> |
  <%= link_to 'New Team Player', new_team_player_path(@team) %> |
  <%= link_to 'Edit Team', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Back to Teams Index', teams_path %>
