<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @league.description %>
</p>

<p>
  <strong>Team(s):</strong>
  <ul>
    <% @league.teams.each do |team| %>
      <li><%= team.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back to League Index', leagues_path %>
