<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @league.description %>
</p>

<p>
  <strong>Team(s):</strong>
  <% @league.teams.map(&:name).join(',') %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
