<%= form_with(model: fixture, local: true) do |form| %>
  <% if fixture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fixture.errors.count, "error") %> prohibited this fixture from being saved:</h2>

      <ul>
      <% fixture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :team_1, "Home Team" %>
    <%= form.collection_select :team_1, Team.all, :name, :name %>
  </div>

  <div class="field">
    <%= form.label :team_2, "Away Team" %>
    <%= form.collection_select :team_2, Team.all, :name, :name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date, id: :fixture_date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time, id: :fixture_time %>
  </div>

  <div class="field">
    <%= form.label :league_id, "League" %>
    <%= form.collection_select :league_ids, League.all, :name, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
